@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lobster&display=swap');

*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4 p{
    margin: 0;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.main{
    align-items: center;
    display: flex;  
}
.block{
    padding-top: 120px;
    padding-bottom: 150px;
}
.header{
    padding: 30px 0;
}
.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header_text{
    padding-right: 60px;
}
.header_nav {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.header_nav_link {
    margin: 0 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}
.header_nav_li:nth-child(6){
    margin-left: 150px;
}
.logo{
    margin-left: 80px;
    font-family: 'Lobster';
    width: 110px;
    height: 30px;
    size: 24px;
}
.header_line{
    margin-top: 40px;
    width: 1440px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Section 1 */

.first-content{
    margin-top: 80px;
    text-align: center;
}
.second-content{
    margin-top: 32px;
    display: inline-flex;
    align-items: center;
}
.sec-h1{
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
}
.name-john{
    padding-left: 16px;
    padding-right: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #000000;
    border-right: 1px solid rgba(0, 0, 0, 0.1);;
}
.date{
    padding-left: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
}
.sec-p1{
    margin: 0;
    padding: 0;
    
    padding-top: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
.male-chef{
    margin-top: 64px;
    border-radius: 40px;
}
.share-socials{
    margin-top: 80px;
    margin-right: 190px;
    float: right;
}
.socials-h2{
    padding-bottom: 32px;
    font-weight: 600;
    line-height: 17px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    font-size: 14px;
}

li{
    list-style: none;
}

.text-cont1{
    margin-left: 190px;
    margin-top: 80px;
}
.text-cont2{
    margin-left: 190px;
    margin-top: 112px;
}
.content-lorem{
    width: 70%;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
}
.content-second{
    display: block;
    margin-top: 84px;
    margin-left: 190px;
}
.female-chef{
    padding: 32px 0 32px 0;
}
.pad-h2{
    padding: 56px 0 24px 0;
}
.pink-div{
    width: 70%;
    margin-top: 64px;
    margin-left: 150px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
}
.pink-lorem{
    padding: 24px 40px 24px 40px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 36px;
    line-height: 64px;
    letter-spacing: -0.04em;
    color: #000000;
    font-style: italic;
}

.div_sec7{
    width: 90%;
    margin-top: 160px;
    margin-left: 80px;
    text-align: center;
    border-radius: 60px;
    background-color: #E7FAFE;
}
.sec7_h6{
    text-align: center;
    padding-top: 80px;
    margin: 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #000000;
}
.sec7_lorem{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
.sec7_inp{
    margin-bottom: 80px;
    margin-top: 40px;
    width: 35%;
    height: 80px;
    background: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 24px;
}
.sec7_btn{
    cursor: pointer;
    margin-left: -13%;
    width: 12%;
    height: 60px;
    background: #000000;
    border-radius: 16px;
    outline: none;
    border: none;
}
.btn_span{
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #FFFFFF; 
}
.section8{
    display: flex;
    margin-top: 160px;
    margin-left: 80px;
    align-items: center;
}
.logo_bott{
    margin: 0 0 16px 0;
    font-family: 'Lobster';
    width: 110px;
    height: 30px;
    font-size: 24px;
}
.sec8_lorem{
    margin: 0;
    margin-right: 400px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
}
.section_link{
    margin: 0 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}
.section_list{
    list-style: none;
}
.section_6{
    padding: 0;
}
.sec6_h6{
    text-align: center;
    margin: 0;
    margin-top: 160px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #000000;
}
.sec6_text{
    display: flex;
}
.sec6_lorem{
    margin-top: 190px;
    margin-left: 150px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
}
.sec6_items{
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;
}
.sec6_div1{
    padding-right: 40px;
    padding-top: 40px;
}
.div1_h6{
    margin: 0;
    padding-top: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.04em;
    color: #000000;
}
.div1_span1{
    padding-right: 28px;
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
}
.div1_span2{
    padding-left: 14px;
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
}
.sec6_timer1{
    display: inline-block;
    margin-top: 26px;
    padding-right: 12px;
}
.sec6_display{
    display: flex;
    align-items: flex-end;
}

.footer_line{
    margin-top: 48px;
    width: 1280px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.footer_p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
}
.footer_text{
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    
}
.footer_list{
    list-style: none;
}
.footer_link{
    margin: 0 20px;
}
.footer_copyright{
    margin-left: 500px;
    margin-right: 360px;
}