@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lobster&display=swap');

*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4 p{
    margin: 0;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.main{
    align-items: center;
    display: flex;  
}
.block{
    padding-top: 120px;
    padding-bottom: 150px;
}
.header{
    padding: 30px 0;
}
.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header_text{
    padding-right: 60px;
}
.header_nav {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.header_nav_link {
    margin: 0 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}
.header_nav_li:nth-child(6){
    margin-left: 150px;
}
.logo{
    margin-left: 80px;
    font-family: 'Lobster';
    width: 110px;
    height: 30px;
    size: 24px;
}
.header_line{
    margin-top: 40px;
    width: 1440px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* SECTION 1 */
.everything{
    
    display: flex;
}

.sec1_h1{
    margin: 80px 0 0 80px;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.04em;
    color: #000000;
}
.under_1{
    display: flex;
    flex-wrap: wrap;
    margin: 48px 0 0 80px;
}
.under_2{
    display: flex;
    flex-wrap: wrap;
    margin: 54px 0 0 80px;
}
.under_3{
    display: flex;
    flex-wrap: wrap;
    margin: 54px 0 0 80px;
}
.under_4{
    display: flex;
    flex-wrap: wrap;
    margin: 54px 0 0 80px;
}
.john_date{
    margin-top: 5px;
    margin-left: 15px;
}
.name{
    padding-bottom: 8px;
    padding-left: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #000000;
}
.date{
    padding-left: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
}
.prep{
    padding-left: 20px;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #000000;
}
.prep4{
    padding-top: 12px;
    padding-left: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
}
.time{
    padding-left: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
}

/* Section 2*/

.form-control{
    margin-top: 80px;
    margin-left: 80px;
}
.section2-h2{
    margin-bottom: 48px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.04em;
}
.section2-h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: #000000;
}

.form-control label{
    display: inline-flex;
    width: 840px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
}
.label-p{
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;  
    color: #000000;
}
.direct-div{
    margin-left: 80px;
   
}
.direct-div label{
    display: inline-block;
    width: 840px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
}

.sauce{
    padding-top: 64px;
}
.strong-p{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #000000;
}
.label-lorem{
    margin-left: 40px;
    margin-bottom: 48px;
    width: 840px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
}
.female-chef{
    width: 792px;
    height: 400px;
    margin-left: 40px;
    margin-bottom: 48px;
}

input[type='radio']{
    transform: scale(2);
}
.aside-h2{
    margin-bottom: 40px;
    font-weight: 600;
font-size: 32px;
line-height: 39px;
letter-spacing: -0.04em;
color: #000000;
}
.aside-content{
    /*display: inline-block;*/
    float: right;
}
.aside-div{
    display: flex;
    padding-bottom: 26px;
}
.aside-text{
    display: block;
    padding-left: 24px;
}
aside img{
    border-radius: 15px;
}
.aside-span{

    font-weight: 500;
font-size: 14px;
line-height: 17px;
letter-spacing: -0.02em;
color: rgba(0, 0, 0, 0.6);
}
.aside-h22{
    padding-bottom: 16px;
}
.aside-ads{
    margin-top: 66px;
    border-radius: 0;
}
.direct-h2{
    margin-top: 88px;
}

.div_sec7{
    width: 90%;
    margin-top: 160px;
    margin-left: 80px;
    text-align: center;
    border-radius: 60px;
    background-color: #E7FAFE;
}
.sec7_h6{
    text-align: center;
    padding-top: 80px;
    margin: 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #000000;
}
.sec7_lorem{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
.sec7_inp{
    margin-bottom: 80px;
    margin-top: 40px;
    width: 35%;
    height: 80px;
    background: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 24px;
}
.sec7_btn{
    margin-left: -13%;
    width: 12%;
    height: 60px;
    background: #000000;
    border-radius: 16px;
    outline: none;
    border: none;
}
.btn_span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #FFFFFF; 
}

.section_6{
    padding: 0;
}
.sec6_h6{
    text-align: center;
    margin: 0;
    margin-top: 160px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #000000;
}
.sec6_text{
    display: flex;
}
.sec6_lorem{
    margin-top: 190px;
    margin-left: 150px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
}
.sec6_items{
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;
}
.sec6_div1{
    padding-right: 40px;
    padding-top: 40px;
}
.div1_h6{
    margin: 0;
    padding-top: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.04em;
    color: #000000;
}
.div1_span1{
    padding-right: 28px;
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
}
.div1_span2{
    padding-left: 14px;
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
}
.sec6_timer1{
    display: inline-block;
    margin-top: 26px;
    padding-right: 12px;
}
.sec6_display{
    display: flex;
    align-items: flex-end;
}

.section8{
    display: flex;
    margin-top: 160px;
    margin-left: 80px;
    align-items: center;
}
.logo_bott{
    margin: 0 0 16px 0;
    font-family: 'Lobster';
    width: 110px;
    height: 30px;
    font-size: 24px;
}
.sec8_lorem{
    margin: 0;
    margin-right: 400px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
}
.section_link{
    margin: 0 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}
.section_list{
    list-style: none;
}

.footer_line{
    margin-top: 48px;
    width: 1280px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.footer_p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
}
.footer_text{
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    
}
.footer_list{
    list-style: none;
}
.footer_link{
    margin: 0 20px;
}
.footer_copyright{
    margin-left: 500px;
    margin-right: 360px;
}